*.zip
*.exe

# Исключение папки bin (скомпилированные бинарные файлы)
bin/

# Исключение папки obj (временные файлы сборки)
obj/

# Исключение файлов, создаваемых Visual Studio
.vs/

# Исключение файлов, создаваемых Rider
.idea/

# Исключение файлов резервных копий
*.bak

# Исключение файлов с расширением .user (настройки пользователя)
*.user

# Исключение файлов с расширением .suo (настройки решения)
*.suo

# Исключение файлов с расширением .cache (кеш-файлы)
*.cache

# Исключение файлов с расширением .log (логи)
*.log

# Исключение файлов с расширением .tmp (временные файлы)
*.tmp

# Исключение файлов с расширением .vsdoc (документация IntelliSense)
*.vsdoc

# Исключение файлов с расширением .csproj.user (настройки проекта)
*.csproj.user

# Исключение файлов с расширением .resharper (настройки ReSharper)
*.resharper

# Исключение файлов с расширением .sln.docstates (состояние документа решения)
*.sln.docstates

# Исключение файлов с расширением .pdb (файлы отладочной информации)
*.pdb

# Исключение файлов с расширением .ipch (промежуточные файлы IntelliSense)
*.ipch

# Исключение файлов с расширением .bak (резервные копии)
*.bak

# Исключение файлов с расширением .ncrunchsolution (файлы конфигурации NCrunch)
*.ncrunchsolution

# Исключение файлов с расширением .resharper.user (настройки пользователя ReSharper)
*.resharper.user

# Исключение файлов с расширением .resharper.DotSettings (настройки ReSharper)
*.resharper.DotSettings

# Исключение файлов с расширением .sln.DotSettings (настройки решения)
*.sln.DotSettings
